.tituloSiteC{
    top: 0;
}


.cabecalho{
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: white;
    margin:0;
    padding:0;
    width: 1440px;
    height:115px;
}

.menuPrincipal{
    
}


.tituloSite{
    text-align: center;
}

.buscadorItens{

    text-align: center;

}

.form{
    display: flex;
    flex-direction: row;
}

.caixa{
    display: flex;
    flex-direction:row;
    align-items:center;

    padding: 8px 16px;
    gap:8px;

    width: 393px;
    height: 40px;

    background: #f5f5f5;
    border-radius: 20px;

    flex:none;
    order: 1;
    flex-grow: 0;
}

.botaoBuscar{
    border-color: blue;
    color: blue;
}

.botaoBuscar:hover{
    color:violet;
    cursor:pointer;
}

.botaoIniciarSessao{
    text-align: center;
}

.botaoLogin{
    width: 100px;
    height: 20px;
    border-color: cyan;
    background-color: white;
}

.botaoLogin:hover{
    color: violet;
    cursor:pointer;
}