.menuPrincipal{
    
}

.topo{
    display: flex;
    justify-content:space-between;
    width: 100%;
}


.tituloSite{
    text-align: center;
}

.buscadorItens{
    text-align: center;
}

.botaoIniciarSessao{
    text-align: center;
}

.banner{
    text-align: center;
}

.galeriaDeProdutos{
    text-align: center;
}

.formularioDeContato{
    text-align: center;
}

.rodape{
    text-align: center;
}