.menuPrincipal{
    margin-top: 10px;
}

.cabecalho{
    display: flex;
    justify-content:space-between;
    width: 100%;
}


.tituloSite{
    text-align: center;
}

.buscadorItens{
    text-align: center;
}

.botaoBuscar{
    border-color: blue;
    color: blue;
}

.botaoIniciarSessao{
    text-align: center;
}

.botaoLogin{
    width: 200px;
    height: 50px;
    border-color: blue;
    color: blue;
}

.banner{
    width: 100%;
    margin:auto;
    position: relative;
}

.imagemBanner{
    width: 100%;
}

.promocao{
    color:white;
    font-size: 40px;
    bottom: 90;
    left: 10;
    position: absolute;
}

.selecao{
    color:white;
    font-size: 20px;
    bottom: 50;
    left:10;
    position: absolute;
}

.botaoVerConsoles{
    width: 20%;
    height: 10%;
    background-color: blue;
    color:white;
    bottom: 10;
    left: 10;
    position: absolute;
}

.galeriaDeProdutos{
    text-align: center;
}

.starWars{
    text-align: center;
    justify-content: left;
}

.nomeStarWars{
    font-size:50px;
}

.produtos {
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.produto{
    display: flex;
    text-align: left;
    flex-direction: column;
    margin:10px;
}

.imagemProduto{
    width: 170;
    height: 170;
}

.formularioDeContato{
    align-items: center;
    display: flex;
    justify-content:space-around;
}

.navList{
    
}

.rodape{
    text-align: center;
}