

.menuLogin{
    text-align: center;
}

.iniciarSessaoTitulo{

}

.emailInput{

}
.senhaInput{

}

.loginButton{
    background-color: blue;
    color: white;
}

.loginButton:hover{
    color: violet;
    cursor:pointer;
}

.formularioDeContato{
    background-color: cyan;
    align-items: center;
    display: flex;
    justify-content:space-around;
}

.navList{
    
}

.faleConosco{
    text-align: left;
}

.formularioFaleConosco{

}

.botaoFalarConosco{

}

.botaoFalarConosco:hover{
    color:violet;
    cursor:pointer;
}

.rodape{
    text-align: center;
}

.iconeNavList{
    font-style:normal;
}

.desenvolvedor{
    font-size: 20
}