
.body{
    margin:0;
    padding: 0;
}

.login{
    background-color: #eeeeee;
    justify-content: space-between;
    align-items:center;
    display:flex;
    flex-direction: column;
}

.menuLogin{
    position: center;
    text-align: center;
    justify-content: space-between;
}

.formLogin{
    padding-top: 5vh;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}

.iniciarSessaoTitulo{
    font-size: large;
}

.emailInput{
    width: 30vw;
    height: 5vh;
}
.senhaInput{
    width: 30vw;
    height: 5vh;
}

.loginButton{
    background-color: blue;
    color: white;
    width: 30vw;
    height: 5vh;
}

.loginButton:hover{
    color: violet;
    cursor:pointer;
}

