
.cabecalho{
    display: flex;
    justify-content:space-around;
    align-items:center;
    background-color: limegreen;
}

.menuPrincipal{
    margin-top: 10px;
}


.tituloSite{
    text-align: center;
}

.buscadorItens{
    text-align: center;
}

.botaoBuscar{
    border-color: blue;
    color: blue;
}

.botaoBuscar:hover{
    color:violet;
    cursor:pointer;
}

.botaoIniciarSessao{
    text-align: center;
}

.botaoLogin{
    width: 100px;
    height: 25px;
    border-color: blue;
    color: blue;
}

.botaoLogin:hover{
    color: violet;
    cursor:pointer;
}

.menuAdicionarNovoProduto{
    text-align: center;
}

.adicionarImagemProduto{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.botaoDragAndDrop{
    width: 10vw;
    height: 10vh;
}

.procurarNoComputador{
    color:white;
    background-color: blue;
}

.procurarNoComputador:hover{
    color:violet;
    cursor: pointer;
}

.nomeCampo{
    font-size: 20px;
}

.botaoAdicionar{
    color:white;
    background-color: blue;
    margin-bottom: 10px;
}

.botaoAdicionar:hover{
    color:violet;
    cursor: pointer;
}

.formularioDeContato{
    background-color: cyan;
    align-items: center;
    display: flex;
    justify-content:space-around;
}

.navList{
    
}

.faleConosco{
    text-align: left;
}

.formularioFaleConosco{

}

.botaoFalarConosco{

}

.botaoFalarConosco:hover{
    color:violet;
    cursor:pointer;
}

.rodape{
    text-align: center;
}

.iconeNavList{
    font-style:normal;
}

.desenvolvedor{
    font-size: 20
}