.body{
    margin:0;
    padding: 0;
}


.novo{
    background-color: #eeeeee;
    justify-content: space-between;
    align-items:center;
    display:flex;
    flex-direction: column;
}

.menuAdicionarNovoProduto{
    position: center;
    text-align: left;
    justify-content: space-between;
}

.adicionarImagemProduto{

}

.dataForm{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/*
.botaoDragAndDrop{
    width: 20vw;
    height: 20vh;
}*/
.nomeCampo{
    width: 30vw;
    height: 5vh;
}

.preview{
    width: 20vw;
    height: 20vh;
}

.imagemPreview{
    width: 20vw;
    height: 20vh;
}

.textoOu{
    width: 10%;
}

.procurarNoComputador{
    color:white;
    background-color: blue;
}

.procurarNoComputador:hover{
    color:violet;
    cursor: pointer;
}

.botaoAdicionar{
    color:white;
    width: 30vw;
    height: 5vh;
    background-color: blue;
    margin-bottom: 10px;
}

.botaoAdicionar:hover{
    color:violet;
    cursor: pointer;
}

